@media all and (max-width: 1200px) {
        .header{
                .container{
                .header-inner{
                        .menu-icon{
                                display: none;
                        }
                        .navbar{
                                .menu{
                                        li{
                                                a{
                                                        padding-right: 50px;
                                                        
                                                }
                                        }
                                }
                        }
                        .form-control{
                                left: -28px;
                                
                        }
                }
        }
        }
        .slider{
                &-content{
                    &-inner{
                        position: relative;
                        left: 58px;
                        .cols(520px);
                        .slider-title{
                            font-size: 48px;
                            margin-bottom: -10px;
                        }
                        // .slider-desc{
                        //         margin-bottom: 3px;
                        // }
                        // .slider-summary{
                        //         line-height: 23px;
                        //         font-size: 14px;
                        //         font-weight: 400;
                        //         color: #fff;
                        //         margin-bottom: 55px;
                        //     }
                        // .slider-btn{
                        //         position: relative;
                        //         top: -37px;
                        //         padding: 10px 25px;
                        // }
                    }
                }
            }
            .contact{   
                position: relative;
                left: 80px;    
                // .row-contact{
                //         box-sizing: border-box;
                //         display: flex;
                //         flex-wrap: wrap;
                //         margin: 0 -15px;
                //                 .contact-item{
                //                         .cols(25%);
                //                         padding: 0 15px;
                //                         .contact-heading{
                //                                 font-weight: 700;
                //                                 font-size: 18px;
                //                                 color: #fff;
                //                                 margin-top: 80px;
                //                                 text-transform: uppercase;
                //                                 margin-bottom: 16px;
                //                         }
                //                         .div{
                //                                 color: #777;
                //                                 font-weight: 400;
                //                                 font-size: 14px;
                //                                 padding: 10px 0;
                                                
                //                         }
                //                         .fa-solid{
                //                                 margin-right: 20px;
                //                         }
                //                 }
                //         }       
                       
        }
}
@media all and (max-width: 1024px) {
        .header{
                .container{
                .header-inner{
                        .menu-icon{
                                display: none;
                        }
                        .navbar{
                                .menu{
                                        li{
                                                a{
                                                        padding-right: 40px;
                                                        
                                                }
                                        }
                                }
                        }
                        .form-control{
                                left: -28px;
                                
                        }
                }
        }
        }
        .slider{
                &-content{
                    &-inner{
                        position: relative;
                        left: 30px;
                        .cols(520px);
                        .slider-title{
                            font-size: 48px;
                            margin-bottom: -10px;
                        }
                        .slider-desc{
                                margin-bottom: 3px;
                        }
                        .slider-summary{
                                line-height: 23px;
                                font-size: 14px;
                                font-weight: 400;
                                color: #fff;
                                margin-bottom: 55px;
                            }
                        .slider-btn{
                                position: relative;
                                top: -37px;
                                padding: 10px 25px;
                        }
                    }
                }
            }
            
}
@media all and (max-width: 768px) {
        .header{
                .container{
                .header-inner{
                        display: flex;
                        justify-content: space-between;
                        .menu-icon{
                                display: block;
                                .fa-bars:before, .fa-navicon:before {
                                        content: "\f0c9";
                                        color: #fff;
                                        font-size: 28px;
                                        padding-left: 30px;
                                    }
                        }
                      .logo-desktop{
                        img{
                                // order: 2;
                                display: block;
                                line-height: 100px; 
                        }
                        }
                        .navbar{
                                display: none;
                                
                        }
                        
                }
        }
        }
        .slider{
                &-content{
                    &-inner{
                        position: relative;
                        left: 30px;
                        .cols(520px);
                        .slider-title{
                            font-size: 48px;
                            margin-bottom: -10px;
                        }
                        .slider-desc{
                                margin-bottom: 3px;
                        }
                        .slider-summary{
                                line-height: 23px;
                                font-size: 14px;
                                font-weight: 400;
                                color: #fff;
                                margin-bottom: 55px;
                            }
                        .slider-btn{
                                position: relative;
                                top: -37px;
                                padding: 10px 25px;
                        }
                    }
                }
            }
            .banner{
                .container{
                        .row{
                                .img{
                                        width: 100%;
                                        height: 100%;
                                }
                                .banner-item{
                                        .cols(50%);
                                        transform: translateY(-7px);
                                        
                                }
                                .item3{
                                        order: 1;
                                }
                                .item4{
                                        order: 2;  
                                }
                        }
                }
        }
        .top-selling{
                .container{
                        .top-selling-row{
                                .top-selling-item{
                                        .cols(33.33%);
                                        
                                        }
                                }
                        }
                }
        }
        .brand{
                padding-top: 118px;
                padding-bottom: 34px;
                .container{
                        .row-brand{
                                .brand-inner{
                                        .brand-item{
                                                .cols(33.333%);
                                                padding: 15px 76px;
                                               
                                        }
                                }
                        }
                }
        }
        .contact{       
                .row-contact{
                        box-sizing: border-box;
                        display: flex;
                        flex-wrap: wrap;
                        margin: 0 -15px;
                                .contact-item{
                                        .cols(25%);
                                        padding: 0 15px;
                                        .contact-heading{
                                                font-weight: 700;
                                                font-size: 18px;
                                                color: #fff;
                                                margin-top: 80px;
                                                text-transform: uppercase;
                                                margin-bottom: 16px;
                                        }
                                        .div{
                                                color: #777;
                                                font-weight: 400;
                                                font-size: 14px;
                                                padding: 10px 0;
                                                
                                        }
                                        .fa-solid{
                                                margin-right: 20px;
                                        }
                                }
                        }       
                       
        }
        

@media all and (max-width: 576px) {
       
}
@media all and (max-width: 375px) {
       
}